* {
    box-sizing: border-box;
}

/* CSS Custom Properties */
:root {
    --primary: rgb(49, 45, 34);
    --secondary: rgb(219, 214, 173);
    --tertiary: rgb(117, 112, 89);
    --accent-dark: rgb(89, 23, 14);
    --accent-light: rgb(220, 172, 0);
}

body {
    font-family: Tahoma, Geneva, sans-serif;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: 3rem auto;
    color: var(--secondary);
}

.flex-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    line-height: 3rem;
    padding: 0 1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--primary);
}

#top-menu a:hover {
    background-color: var(--tertiary);
}

header,
#top-menu {
    position: relative;
}

#top-menu {
    z-index: 20;
}

#sub-menu {
    width: 100%;
    z-index: 10;
    transition: top 0.5s ease-out;
}

#sub-menu a:hover {
    background-color: var(--secondary);
}

nav a.active {
    background-color: var(--tertiary);
    color: var(--accent);
}
